INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.guess
config.log
config.status
config.sub
configure
debug.out
depcomp
gnome-doc-utils.make
install-sh
intltool-extract.in
intltool-extract
intltool-merge.in
intltool-merge
intltool-update.in
intltool-update
libtool
ltmain.sh
missing
mkinstalldirs
omf.make
orca.desktop
orca.spec
py-compile
stamp-h1
xmldocs.make
*.pylint
core
run_pylint.sh
bld
*~
patch.*
[0-9][0-9][0-9][0-9][-]*

# /help
/help/*.omf
/help/*/*.page
!/help/C/*.page
/help/*/*.xml
!/help/C/*.xml
/help/*/*.mo
