debug.out
*.out
core
bld
*~
patch.*
[0-9][0-9][0-9][0-9][-]*
__pycache__/
*.pyc
subprojects/*/
subprojects/.wraplock
!subprojects/*.wrap
!subprojects/mathcat-py/
subprojects/mathcat-py/addon/
subprojects/mathcat-py/target/
.coverage-integration/
htmlcov-integration/
