[Unit]
Description=Orca Screen Reader
Documentation=man:orca(1)
Documentation=https://orca.gnome.org/

PartOf=graphical-session.target
After=graphical-session.target

# We're going to need this, so instead of waiting for it to
# dbus activate later, let's start it in parallel with Orca
Wants=at-spi-dbus-bus.service

[Service]
Type=notify-reload
ExecStart=orca --replace
Restart=always
WatchdogSec=6
Slice=session.slice

[Install]
WantedBy=graphical-session.target
