# Ruff linter.
#
# Repository: https://github.com/astral-sh/ruff
#
# Documentation: https://beta.ruff.rs/docs/
[tool.ruff]
line-length = 100  # same as rustfmt
lint.ignore = [
  "E402", # Module level import not at top of file
]

[tool.pylint.master]
#extension-pkg-allow-list = ["brlapi"] # this makes cli pylint crash.
init-hook = "import sys, os, warnings; sys.path.insert(0, os.path.join(os.getcwd(), 'src')); warnings.filterwarnings('ignore', message=r'.*(gobject|GstBus|g_param_spec|validate_pspec).*')"

[tool.pylint.typecheck]
ignored-classes = ["AXUtilities"]

[tool.pylint.messages_control]
disable = [
    "fixme",
    "duplicate-code",
    "cyclic-import",
    "c-extension-no-member",
]

[tool.mypy]
mypy_path = "src"
exclude = [
  "gnome-shell",             # mypy doesn't like the name
  "notification-daemon",     # mypy doesn't like the name
  "smuxi-frontend-gnome",    # mypy doesn't like the name
  "subprojects",             # beyond our control
]

[[tool.mypy.overrides]]
module = [
    "orca.settings",
    "orca.braille",
    "orca.spiel",
    "orca.speechdispatcherfactory",
]
disable_error_code = ["var-annotated"]

[[tool.mypy.overrides]]
module = "brlapi.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "cairo.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "dbus.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "gi.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "louis.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "orca.orca_i18n"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "orca.orca_platform"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "speechd.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "dasbus.*"
ignore_missing_imports = true
