# Ruff linter.
#
# Repository: https://github.com/astral-sh/ruff
#
# Documentation: https://beta.ruff.rs/docs/
[tool.ruff]
line-length = 100  # same as rustfmt
ignore = [
  "E402", # Module level import not at top of file
]

[tool.mypy]
disable_error_code = [
  "import-untyped",
]
